.row0 {
    top: 0
}
.row1 {
    top: 100px;
}
.row2 {
    top: 200px;
}
.row3 {
    top: 300px;
}
.row4 {
    top: 400px;
}
.row5 {
    top: 500px;
}
.row6 {
    top: 600px;
}
.row7 {
    top: 700px;
}
.row8 {
    top: 800px;
}
.col0 {
    left: 0
}
.col1 {
    left: 100px;
}
.col2 {
    left: 200px;
}
.col3 {
    left: 300px;
}
.col4 {
    left: 400px;
}
.col5 {
    left: 500px;
}
.col6 {
    left: 600px;
}
.col7 {
    left: 700px;
}
.col8 {
    left: 800px;
}