body {
    background-image: url("/static/img/main_back.jpg");
}

p {
    margin: 3px;
}

.content {
    margin: auto;
    width: 1470px;
    display: inherit !important;
}

.window {
    border: 5px solid #bababa;
    background-color: lightgray;
    border-radius: 25px;
    float: left;
    margin: 5px;
}

#menu {
    width: 300px;
    background-image: url("/static/img/menu_back.jpg");
}

.menu-content {
    margin: 10px;
}

.menu-content > h1, .menu-content > p,  .menu-content > h3, .my-games-list > h3 {
    margin: 3px;
}

.my-games-list {
    margin-top: 50px;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.my-games-list > p {
    margin: 5px 10px 5px 5px;
}

.game-control {
    height: 300px;
}

.menu-content-button {
    border-radius: 10px;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin: 5px 5px 0 5px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.my-game {
    text-align: center;
    border-radius: 5px;
}

#game {
    position: relative;
    width: 810px;
    height: 900px;
    text-align: center;
    background-image: url("/static/img/menu_back.jpg");
}

#score {
    width: 300px;
    max-height: 900px;
    text-align: left;
    overflow: hidden;
    position: relative;
    background-image: url("/static/img/menu_back.jpg");
}

.btn {
    cursor: pointer;
    background-color: #7aa6cf;
}

.btn:hover {
    background-color: #82b0d8;
}

.btn.btn-green {
    background-color: #29ba29;
}

.btn.btn-green:hover {
    background-color: #2dce2d;
}

.leftCol.fieldCell {
    width: 88px;
    border-left: 2px hidden #bababa;
}
.rightCol.fieldCell {
    width: 88px;
    border-right: 2px hidden #bababa;
}
.topRow.fieldCell {
    height: 98px;
    border-top: 2px hidden #bababa;
}
.bottomRow.fieldCell {
    height: 98px;
    border-bottom: 2px hidden #bababa;
}

.fieldCell {
    width: 86px;
    height: 96px;
    float: left;
    border: 2px solid #bababa;
}

.char-cell {
    width: 90px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    transition: opacity 300ms, top 100ms, left 100ms;
    z-index: 100;
}

.char-cell:hover {
    z-index: 1000;
}

.char {
    max-width: 90px;
    max-height: 92px;
    margin: 4px auto auto;
    border-radius: 15px;
    z-index: 100;
}

.char-cell:hover .char {
    transform: scale(1.5, 1.5);
}

.char-cell.new .char {
    box-shadow: 0 0 5pt 6pt cornflowerblue;
}

.char-cell.advice .char{
    box-shadow: 0 0 5pt 6pt #29ba29;
}

.char-cell.selected .char {
    box-shadow: 0 0 5pt 6pt red;
}

.cell-remove {
  opacity: 0;
}

.appear {
    opacity: 0;
}

#score > p {
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.title-scores {
    text-align: center;
}

.score-title-turn {
    font-size: 20px;
    border-top: 3px solid #bababa;
    width: 300px;
    margin: auto;
    text-align: center;
}

.score-title-name {
    margin: 5px 0 0 0;
}

.stat-char {
    text-align: left;
    margin: 2px 0 0 5px;
    white-space: nowrap;
}

.stat-char-score {
    font-size: 40px;
    width: 60px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.stat-char-img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}

.stat-change-img {
    margin: 0 5px 0 5px;
}

.stat-char-img:hover {
    transform: scale(2, 2);
}

.stat-char-name {
    margin-top: 15px;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
}

#score .ps-scrollbar-x-rail {
    display: none;
}

#score .ps-scrollbar-y-rail {
    margin-top: 10px;
    margin-bottom: 10px;
}

.difficulty-stat {
    padding-left: 8px;
    font-size: 18px;
}

.difficulty {
    background-color: #94bde2;
    margin: 0 25px 0 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    transition: height 0.5s;
    height: 140px;
}

.difficulty-hidden {
    height: 0;
}

.mal-username {
    width: 200px;
    padding: 3px;
    border-radius: 5px;
    border: 0;
    margin: 3px;
}

.create-game {
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

.select-style {
    border: 1px solid #ccc;
    width: 205px;
    border-radius: 3px;
    overflow: hidden;
    margin: 3px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.error {
    position: absolute;
    right: 30px;
    top: 13px;
    width: 300px;
    font-size: 24px;
    padding: 10px;
    background-color: #f77e7e;
    border-radius: 15px;
    border: solid 3px;
}

.complete-game {
    margin-top: 10px;
    margin-bottom: 10px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}



