.content {
    margin: auto;
    width: 810px;
    height: 900px;
    text-align: center;
    border: 5px solid #bababa;
    background-color: lightgray;
    border-radius: 25px;
}

#newGame {
    margin: auto;
    width: 700px;
    height: 50px;
    border-radius: 20px;
    line-height: 50px;
    cursor: pointer;
}

#game {
    position: relative;
}

.btn {
    background-color: #7aa6cf;
}

.btn:hover {
    background-color: #82b0d8;
}

.leftCol.fieldCell {
    width: 88px;
    border-left: 2px hidden #bababa;
}
.rightCol.fieldCell {
    width: 88px;
    border-right: 2px hidden #bababa;
}
.topRow.fieldCell {
    height: 98px;
    border-top: 2px hidden #bababa;
}
.bottomRow.fieldCell {
    height: 98px;
    border-bottom: 2px hidden #bababa;
}

.fieldCell {
    width: 86px;
    height: 96px;
    float: left;
    border: 2px solid #bababa;
}

.char-cell {
    width: 90px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    transition: opacity 300ms, top 100ms, left 100ms;
    z-index: 100;
}

.char-cell:hover {
    z-index: 1000;
}

.char {
    max-width: 90px;
    max-height: 92px;
    margin: 4px auto auto;
    border-radius: 15px;
    z-index: 100;
}

.char-cell:hover .char {
    transform: scale(1.5, 1.5);
}

.char-cell.new .char {
    box-shadow: 0 0 5pt 5pt cornflowerblue;
}

.char-cell.selected .char {
    box-shadow: 0 0 5pt 5pt red;
}

.cell-remove {
  opacity: 0;
}

.appear {
    opacity: 0;
}

#game-scores {
    border: 5px solid #bababa;
    background-color: lightgray;
    border-radius: 25px;
    position: absolute;
    left: 820px;
    width: 300px;
    max-height: 900px;
    text-align: left;
}

#game-scores > p {
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.title-scores {
    text-align: center;
}

.score-title-turn {
    font-size: 20px;
    border-top: 3px solid #bababa;
    width: 300px;
    margin: auto;
    text-align: center;
}

.score-title-name {
    margin: 5px 0 0 0;
}

.stat-char {
    text-align: left;
    margin: 2px 0 0 5px;
    white-space: nowrap;
}

.stat-char-score {
    font-size: 43px;
    width: 50px;
    vertical-align: top;
    text-align: center;
    display: inline-block;
}

.stat-char-img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}

.stat-char-img:hover {
    transform: scale(2, 2);
}

.stat-char-name {
    margin-top: 15px;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
}

#game-scores .ps-scrollbar-x-rail {
    margin-left: 10px;
    margin-right: 10px;
    display: none;
}

#game-scores .ps-scrollbar-y-rail {
    margin-top: 10px;
    margin-bottom: 10px;
}



