<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Linime - Lines with Anime</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/field.css">
    <link rel="stylesheet" href="/static/perfect-scrollbar/css/perfect-scrollbar.min.css">

    <script src="/static/libs/jquery-3.0.0.js"></script>
    <script src="/static/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/static/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/libs/react.js"></script>
    <script src="/static/libs/react-dom.js"></script>
    <script src="/static/libs/react-with-addons.js"></script>
    <script src="/static/libs/redux.js"></script>
    <script src="/static/libs/react-redux.js"></script>
    <script src="/static/libs/browser.min.js"></script>

    <script type="text/babel" src="/static/client/actions.js"></script>
    <script type="text/babel" src="/static/client/state.js"></script>

    <script type="text/babel" src="/static/client/home.js"></script>
    <script type="text/babel" src="/static/client/game.js"></script>

    <script type="text/babel" src="/static/client/app.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>