<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Linime - Lines with Anime</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/field.css">
    <link rel="stylesheet" href="/static/perfect-scrollbar/css/perfect-scrollbar.min.css">

    <script defer src="/static/libs/jquery-3.0.0.js"></script>
    <script defer src="/static/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script defer src="/static/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script defer src="/static/libs/react.js"></script>
    <script defer src="/static/libs/react-dom.js"></script>
    <script defer src="/static/libs/redux.js"></script>
    <script defer src="/static/libs/react-redux.js"></script>

    <script defer src="/static/dist/utils.js"></script>
    <script defer src="/static/dist/actions.js"></script>
    <script defer src="/static/dist/state.js"></script>

    <script defer src="/static/dist/menu.js"></script>
    <script defer src="/static/dist/game.js"></script>
    <script defer src="/static/dist/score.js"></script>

    <script defer src="/static/dist/app.js"></script>
</head>
<body>
    <div id="root"></div>
</body>
</html>